[Unit]
Description=Borgbackup home directory backup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/borg/home-borgbackup.sh
User=borg

# The CAP_DAC_READ_SEARCH capability gives Borg read-only access 
# to all files and directories on the system.
AmbientCapabilities=CAP_DAC_READ_SEARCH

# Timeout after 6 hours
TimeoutSec=21600

[Install]
WantedBy=multi-user.target